body {
    margin: 0!important;
}

a { 
    color: black; 
    text-decoration: none;
}

.contact {
    min-height: 100vh;

}
.headerBox {
    background: #E64A19;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: -20vw;
    margin-bottom: 10vw;
    overflow: visible;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
    background: black;
    color: white;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.serviceBox {
    background-color: white;
    margin: 3vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.serviceBox .serviceHeader{
    background-color: white;
    padding: 2vw;
    font-size: 3vw

}
.serviceBox .serviceBody{
    color: white;
    background-color: #E64A19;
    padding: 5vw;
}

.whiteBox {
    background: white;
    padding: 5vw;
    color:#E64A19;
    border-radius: 10px;
    margin-bottom: 5vw;
}

.whiteBox p{
    background: white;
    padding: 5vw;
    color: black;
    border-radius: 10px;
}

.whiteBox h2{
    color: black;
    font-style: italic;
}

.contactForm {
    margin-bottom: 3vw;
}
.contactForm h2 {
    color: #E64A19;
    font-style: italic;
}

.MuiOutlinedInput-input {
    background: white !important;
    border-radius: 5px;
}

.MuiOutlinedInput-root {
    margin-bottom: 10px;
}

.contactForm .MuiButtonBase-root {
    background: #E64A19 !important;
}


.sidescroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    /* height: 100vw; */

    padding-top: 0;

    position: relative;
}

.card {
    flex: 0 0 auto;
    background: white;
    width: 80vw;
    margin: 3vw;
    padding: 3vw;

    top: 0px
}


.card p {
    white-space: pre-wrap;
    background: white;
    overflow-wrap: normal;
}
